*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
margin: 1rem;
overflow: hidden;
}


.nav-pills .nav-link.active {
background-color: rgb(53, 7, 1);
}


a.nav-link{
color: white !important; 
}


a.nav-link:hover {
transform: scale(1.20);
transition: transform 0.3s;
}


H3 {
padding: 2rem;
}


button {
margin-bottom: 1.5rem;
}


.button-anchor {
    display:block;
    width:100%;
    height:100%;
}


button.btn.btn-lg.btn-block {
color: rgb(53, 7, 1);
}


.btn.btn-lg.btn-block{
overflow: hidden;
background-color:rgb(53, 7, 1);;
}


.button-anchor{
color: white;
}


a.button-anchor:hover{
    transform: scale(1.20);
transition: transform 0.3s;
}


a.button-anchor:hover{
    color: white !important;

}


body {
height: 100vh;
display: flex;
background:#C05252;
}


.p-anchor {
    color: white !important;
}


i.fas.fa-brain {
    font-size: 40px;
    color: rgb(53, 7, 1);
}


.mmry-game{
width: 850px;
height: 700px;
margin: auto;
display: flex;
flex-wrap: wrap;
border: 2px solid rgb(53, 7, 1);
perspective: 1000px; /* give the container a depth of 1kPX */
}


.memory-card{
width:calc(25% - 10px);
height:calc(33.33% -  10px);
position: relative;
margin: 5px;
transform: scale(1);
transform-style: preserve-3d;
transition: 0.4s;
}


.memory-card:hover{
transform: scale(.95);
transition: transform 0.2s;
}


.memory-card:active{
transform: scale(.97);
transition: transform 0.2s;
}


.memory-card.flip{
transform: rotateY(180deg);
transition: transform 0.2s;
}


.primary-card,
.secondary-card{
position: absolute;
width: 100%;
height: 100%;
padding: 10px;
border-radius: 5px;
background: rgb(70, 1, 1);
backface-visibility: hidden;
}


.primary-card{
transform: rotateY(180deg);
transition: transform 0.2s;
}


p.text-center.text-light {
    padding-top: 2rem;
}


.memory-card {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
