*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background:#C05252;
}
.mmry-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
}
.memory-card{
    width:calc(25% - 10px);
    height:calc(33.33% -  10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
}
.memory-card:hover{
    transform: scale(.95);
    transition: transform 0.2s;
}

.memory-card:active{
    transform: scale(.97);
    transition: transform 0.2s;
}

.card-front,
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background: rgb(70, 1, 1);
    border: 2px solid green;
}
